@import "tailwindcss";

:root {
    --background: #09090b;
    --foreground: #d4d4d8;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-montserrat: var(--font-montserrat);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
