@import "tailwindcss";

@theme inline {
    --color-background: var(--color-zinc-950);
    --color-foreground: var(--color-zinc-50);

    --color-card: var(--color-zinc-900);
    --color-card-foreground: var(--color-zinc-50);
    --color-secondary: var(--color-zinc-800);
    --color-secondary-foreground: var(--color-zinc-50);
    --color-muted: var(--color-zinc-800);
    --color-muted-foreground: var(--color-zinc-400);
    --color-accent: var(--color-zinc-800);
    --color-accent-foreground: var(--color-zinc-50);

    --color-border: color-mix(in srgb, var(--color-white), transparent 90%);
    --color-input: color-mix(in srgb, var(--color-white), transparent 85%);
    --color-white: var(--color-zinc-500);

    --color-chart-1: var(--color-blue-700);
    --color-chart-2: var(--color-emerald-500);
    --color-chart-3: var(--color-orange-400);
    --color-chart-4: var(--color-purple-500);
    --color-chart-5: var(--color-rose-500);
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
